@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.woff2') format('woff2'),
        url('Minecraft.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Machine', Arial, sans-serif;
}
